# Imports a single directory of scratch json data from data/example_directory
example_directory_adaptor:
  adaptor_module: funtool_scratch_processes.adaptors.autosave_directory
  adaptor_function: import_directory
  parameters:
    data_location: data/example_directory

# Imports all sub-directories in data/example_projects
# Assumes each sub-directory is a project id
# Creates the projects_directory grouping based on directories
example_projects_adaptor:
  adaptor_module: funtool_scratch_processes.adaptors.autosave_directory
  adaptor_function: import_projects_directory
  parameters:
    data_location: data/example_projects

# Imports all sub-directories in data/example_users
# Assumes each sub-directory is a user id and each sub-sub-directory is a project id
# Creates the projects_directory and users_directory groupings
example_users_adaptor:
  adaptor_module: funtool_scratch_processes.adaptors.autosave_directory
  adaptor_function: import_users_directory
  parameters:
    data_location: data/example_users

